*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: white;
    font-family: arial;
}
main{
    padding: 20px 150px;
}
.header-container{
    display: flex; 
    justify-content: space-between;
    padding: 20px 150px;
    align-items: center;
}
.header-container .logo{
    display: flex;
    text-align: center;
    align-items: center;

}
.header-container .logo h3{
    font-size: 1.3rem;
}
.header-container .logo img{
    width: 50px;
    height: 50px;
}
.header-container .links-container ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.header-container .links-container .second-li{
    font-size:16px;
    color: gray;
}
.first-li{
    color: black ;
    font-weight: bolder;
    font-size: 16px;
}
.banner-container{
    display: flex;
    gap: 8gi0px;
    align-items: center;
    justify-content: center;
}
.left-side{
    width: 440px;
}
.banner-container .left-side h2{
    font-size: 2.5rem;
    font-family: arial;
    font-weight: bold;
    padding-bottom: 20px;
}
.banner-container .left-side p{
    color: gray;
    font-size: 17px;
    padding-bottom: 30px;
    font-family: arial;
}
.banner-container .left-side button{
    padding: 15px 32px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 15px;
    color: white;
    background-color: #458ff6;
}
.banner-container .right-side img{
    width: 530px;
    height: 530px;
}

.service-section .top-services p{
    color: gray;
    text-align: center;
}
.service-section .top-services h3{
    padding-top: 100px;
    font-size: 1.8rem;
    text-align: center;
}
.first-line{
    display: flex;
    width: 100%;
    gap: 30px;
    background-color: rgb(234, 249, 255);
    padding: 20px 110px;

}
.first-line .first-one{
    width: 500px;
    justify-content: center;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: white;
}
.btn-service button{
    padding: 14px 37px;
    color: #458ff6;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 50px;
    background-color: white;
    border: 1px solid #458ff6;
}
.btn-service{
    padding: 70px 0px;
    text-align: center;
}
.more-services-container{
    padding-top: 140px;
    padding-bottom: 70px;
align-items: center;
    display: flex;
}
.more-services-container .left-more-services{
    padding-right: 70px;
}
.more-services-container .right-more-services{
    width: 40%;
}
.btn-more-service button{
    padding: 14px 37px;
    color: #458ff6;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 50px;
    background-color: white;
    border: 1px solid #458ff6;
}
.right-more-services h1{
    font-size: 1.9rem;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.right-more-services h2{
    font-size: 1.9rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 26px;
}
.more-services-black-line{
    height: 2px;
    margin-bottom: 30px;
    width: 50px;
    background-color: rgb(37, 37, 37);
}
.right-more-services .f-p{
    color: gray;
    margin-bottom: 8px;
    font-size: 17px;

}
.l-p{
    margin-bottom: 50px;
    font-size: 17px;
    color: gray;

}